<div>
  <h2> Friend details </h2>
  <p> {{ model.firstName }} </p>
  <p> {{ model.lastName }} </p>
</div>

<form {{action "save" on="submit"}} class="col-8 px2 mx-auto borrowers-form">
  <h2 class="white bg-red p1">{{errorMessage}}</h2>
  <p> <label>First Name: {{input value=model.firstName class="input fit"}} </label> </p>
  <p> <label>Last Name: {{input value=model.lastName  class="input fit"}} </label> </p>
  <p> <label>Email: {{input value=model.email class="input fit"}} </label> </p>
  <p> <label>Twitter: {{input value=model.twitter class="input fit"}} </label> </p>
  <button {{action "cancel"}} class="btn h3 border white bg-gray p2 mr2 col-3">Cancel</button>
  <input type="submit" value="Save" class="btn h3 white bg-green border p2 mr2 col-3"/> 
</form>

{{yield}}
